@import "./reset.css";
@import "./normalize.css";
@import "./base.scss";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
@import "../../node_modules/aos/dist/aos.css";

@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

/* Variables para el modo claro */
// :root {
    // --bs-body-bg: #ffffff;
    /* Fondo del cuerpo */
    // --bs-body-color: #212529;
    /* Color del texto del cuerpo */
    // --bs-primary: #0d6efd;
    /* Color primario */
    // --bs-secondary: #6c757d;
    /* Color secundario */
    // --bs-success: #198754;
    /* Color de éxito */
    // --bs-info: #0dcaf0;
    /* Color de información */
    // --bs-warning: #ffc107;
    /* Color de advertencia */
    // --bs-danger: #dc3545;
    /* Color de peligro */
    // --bs-light: #f8f9fa;
    /* Color claro */
    // --bs-dark: #343a40;
    /* Color oscuro */
// }

/* Variables para el modo oscuro */
// @media (prefers-color-scheme: dark) {
    // :root {
        // --bs-body-bg: #212529;
        /* Fondo del cuerpo */
        // --bs-body-color: #f8f9fa;
        /* Color del texto del cuerpo */
        // --bs-primary: #0d6efd;
        /* Color primario */
        // --bs-secondary: #adb5bd;
        /* Color secundario */
        // --bs-success: #198754;
        /* Color de éxito */
        // --bs-info: #0dcaf0;
        /* Color de información */
        // --bs-warning: #ffc107;
        /* Color de advertencia */
        // --bs-danger: #dc3545;
        /* Color de peligro */
        // --bs-light: #e9ecef;
        /* Color claro */
        // --bs-dark: #212529;
        /* Color oscuro */
    // }
// }

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    // margin: 0;
    overflow-x: hidden;
    // padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

// Navbar

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

#clearSearch {
    background: none;
    border: none;
}

.search-form {
    display: none;
}

.card-body2 {
    color: var(--bs-card-color);
    flex: 1 1 auto;
    margin: 0 0.5rem 0 0;
    padding: 0rem 0rem;
}

// Main

.shadow-box {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.shadow-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

// Footer

#img-footer {
    height: 30px;
    margin: 0px 5px 5px 0px;
    width: 47px;
}